@import "../../global-theme/main-style.css";
.background-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.background-transparencia {
    width: 100%;
    height: 100vh;
    background: var(--color-negro);
    opacity: 0.7;
    z-index: 0;
    position: absolute;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    color: var(--color-blanco);
    position: relative;
    background: var(--color-negro-op50);
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.formulario__label-cbo {
    font-weight: 700;
    cursor: pointer;
    display: block;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: var(--color-blanco);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input-cbo {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    padding: 0 10px 0 20px;
    margin-top: 5px;
}


/* Estilo que le quita la flecha desplegable al cbo */

.formulario__input-cbo {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.formulario__input-cbo:focus {
    outline: none;
    border: solid 2px var(--color-primario);
}

.formulario__input::placeholder {
    color: var(--color-negro-op50);
}

.formulario__input:focus {
    border: 3px solid var(--color-primario);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
    /* Para que no mueva el form hacia abajo */
    position: absolute;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
    /*Para que no mueva el form*/
    position: relative;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--color-secundario);
    color: var(--color-blanco);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px var(--color-secundario-claro);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: var(--color-rojo);
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: var(--color-rojo);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid var(--color-rojo);
}

.formulario {
    grid-template-columns: 1fr;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: 1;
}

.formulario__btn {
    width: 100%;
}

.formulario__input {
    height: 35px;
}